<input type="button" value="Click me" onclick="alert(incrementClickCount());">
<script>
	var incrementClickCount = (function() 
	{
		var clickCount = 0;
		return function() {
			return ++clickCount;
		}
	})();

	//Arrow function


			//type-1
	let randomNumber2 = () => Math.random


			//type-2
	document.addEventListener('click', () => {
		console.log('click');
	})
</script>
<!-- <script type="closure.js"></script> -->